{% extends 'base.html' %}

{% block title %}
    list
{% endblock %}

{% block content %}
    <a href="{% url 'create_form_book' %}" class="btn btn-primary">Create book</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">price</th>
            <th scope="col">created_at</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {% for book in books %}
            <tbody>
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.create_at }}</td>
                <td>
                    <a href="{% url 'update_form_book' book.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail_book' book.id %}" class="btn btn-info">Detail</a>
                </td>
            </tr>
            </tbody>

        {% endfor %}
    </table>

{% endblock %}